<nav class="bg-gray-800">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500"
            alt="Your Company"
          />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <button routerLink="/dashboard" routerLinkActive="bg-gray-700"
              class="rounded-md px-3 py-2 text-sm font-medium text-white">
              Dashboard
            </button>
            <button routerLink="/paises" routerLinkActive="bg-gray-700"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
              Países
            </button>
            <button routerLink="/departamentos" routerLinkActive="bg-gray-700"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
              Departamentos
            </button>
            <button routerLink="/municipios" routerLinkActive="bg-gray-700"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
              Municipios
            </button>
            <button routerLink="/empresas" routerLinkActive="bg-gray-700"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
              Empresas
            </button>
            <button routerLink="/colaboradores" routerLinkActive="bg-gray-700"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">
              Colaboradores
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
